.box {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 720px;
  height: 727px;
  border: 1px #727272 solid;
  border-radius: 5px;
  margin: 15px;
}


.txt {
  position: relative;
  margin-top: 37px;
  margin-left: 46px;
  max-width: 704px;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 46px;
  white-space: nowrap;
  color: #5a5a5a;
  font-size: 33px;
  font-weight: 400;
}

.txtTitle {
  position: relative;
  align-self: center;
  font-size: 32px;
  margin-top: 30px;
}

.shopTitle {
  position: relative;
  align-self: center;
  max-width: 516px;
  height: 83px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 83px;
  white-space: nowrap;
  color: #595959;
  font-size: 58px;
  font-weight: 400;
}

.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 114px;
  margin-left: 44px;
  width: 475px;
  height: 109px;
}

.shopTitle_1 {
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 42px;
  color: #b1b1b1;
  font-size: 31px;
  font-weight: 400;
}

.title {
  position: relative;
  max-width: max-content;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 44px;
  white-space: nowrap;
  color: #b1b1b1;
  font-size: 31px;
  font-weight: 400;
}


.main {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 45px;
  width: 255px;
  height: 42px;
}

.text {
  line-height: 42px;
  white-space: nowrap;
  color: #b1b1b1;
  font-size: 31px;
  font-weight: 400;
}

.txt_1 {
  line-height: 42px;
  white-space: nowrap;
  color: #b1b1b1;
  font-size: 29px;
  font-weight: 400;
}
.line{
  background: rgba(241,202,99,0.11);
  width: 720px;
  height: 1px;
  margin-top: 64px;
}
.ft {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  width: 652px;
  height: 48px;
}

.word_1 {
  position: relative;
  margin-top: 4px;
  line-height: 42px;
  white-space: nowrap;
  color: #5b5b5b;
  font-size: 29px;
  font-weight: 400;
}

.text_1 {
  position: relative;
  line-height: 48px;
  white-space: nowrap;
  color: #727272;
  font-family: Rubik;
  font-size: 41px;
  font-weight: 400;
}
