@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/grid.scss";

.at-card {
  margin: 24px;
}

.at-divider{
  height: 1px;
}


.time_title {
  font-size: 24px;
  display: block;
}

.box {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  //background: #1890FF;
}

.content_style {
  display: block;
  font-size: 26px;
  text-align: center;
}

.content_style_data1 {
  display: block;
  font-size: 26px;
  color: green;
}

.content_style_data2 {
  display: block;
  font-size: 26px;
  color: green;
}

.content_style_data3 {
  display: block;
  font-size: 26px;
  color: green;
}

.content_style_data4 {
  display: block;
  font-size: 26px;
  color: red;
}

.disposal_rate {
  //position: fixed;
  background: pink;
  height: 300px;
}

.box_1{
  //justify-content: center;
  //align-self: center;
}

.express {
  height: 60px;
  display: flex;
  //background: #1890FF;
  justify-content: space-between;
}

.express_title {
  margin-left: 20px;
  margin-bottom: auto;
  margin-top: auto;
  font-size: 28px;
}

.data_info {
  margin-right: 20px;
  margin-bottom: auto;
  margin-top: auto;
  color: #1890FF;
  font-size: 24px;
}

.express_data{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.box_2{
  border-radius: 15px;
  height: 130px;
  padding: 20px;
  border: 1px solid slategrey;
}

