#box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.img_main {
  margin-top: 20px;
  display: flex;
  position: relative;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.title {
  margin: 40px 0px 24px 50px;
  font-size: 32px;
  color: #595959;
}

.line {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #E8E8E8;
  width: 700px;
  height: 1px;
  margin-bottom: 10px;
}

.content {
  margin: 10px 0px 14px 50px;
  font-size: 28px;
  color: #B0B0B0;
}

.space {
  width: 100%;
  height: 32px;
  background: #fafafa;
}

.box_1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.title_pre {
  width: 5px;
  height: 40px;
  background: #1890FF;
  margin-left: 40px;
}

.title_1 {
  color: #7c7b7b;
  margin-left: 10px;
  font-size: 32px;
}

.at_time_line {
  margin-left: 40px;
  margin-top: 80px;
}

/*.at_time_line */
/*taro-checkbox-core, taro-checkbox-group-core, taro-radio-core, taro-radio-group-core, taro-swiper-core, taro-swiper-item-core, taro-audio-core, taro-block-core, taro-button-core, taro-camera-core, taro-canvas-core, taro-cover-image-core, taro-cover-view-core, taro-form-core, taro-icon-core, taro-image-core, taro-input-core, taro-label-core, taro-moveable-area-core, taro-moveable-view-core, taro-navigator-core, taro-open-data-core, taro-picker-view-column-core, taro-picker-view-core, taro-progress-core, taro-pull-to-refresh, taro-rich-text-core, taro-scroll-view-core, taro-slider-core, taro-switch-core, taro-tabbar, taro-text-core, taro-textarea-core, taro-view-core, taro-web-view-core, taro-picker-core, taro-picker-group, taro-video-core, taro-video-control, taro-video-danmu {*/
/*  font-size: 35px;*/
/*}*/
/*.at-icon{*/
/*  font-size: 20px;*/
/*}*/
